<div
  class="hero min-h-screen"
  style="background-image: url('assets/extensor_tricep_2.png');"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-gray-400">Programa Tus Entrenos</h1>
      <p class="mb-5">
        Usa el calendario de rutine App y comienza a estrucutrar tus entrenos
      </p>
      <button
        routerLink="/calendar"
        class="btn btn-outline btn-wide"
        >
        Inicia Ahora
      </button>
    </div>
  </div>
</div>

