<div
  class="hero min-h-screen"
  style="background-image: url('assets/Lunch.png');"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Comienza A Buscar Tus Recetas</h1>
      <p class="mb-5">
        Disfruta de los mejores recetas fit en Routine App
      </p>
      <button
        routerLink="/nutrition"
        class="btn btn-outline btn-wide"
        >
        Inicia Ahora
      </button>
    </div>
  </div>
</div>
